node /^manager/ {
  class { 'cyb3rhq::manager':}
}
node /^agent/ {
  class { 'cyb3rhq::agent':
        cyb3rhq_register_endpoint => 'manager_ip',
        cyb3rhq_reporting_endpoint => 'manager_ip',
  }
}

node default {
  notify { 'This node did not match any of the listed definitions': }
}

